<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                list: ['hello', 'world', 'dell', 'lee'],
                inputValue: ''
            }
        },
        methods: {
            add() {
                this.list.push(this.inputValue)
            }
        },
        template: `
            <input v-model="inputValue" /><button @click="add">增加</button>
            <ul>
                <li v-for="(item, index) of list">{{item}}</li>
            </ul>
        `
    }).mount('#root')
</script>
</html>